.nav-item{
    list-style:none;
    color: #868686;
    cursor: pointer;
    text-decoration: none;
    
    
}
    

 li{
    padding-bottom: 20px;
    

}

.nav-item:hover{
    color: #cecece;
}


.nav-item .current{
    color:#6EA68E;
}



